photos
build
src/**/*.js
*.js.map
src/test/helpers/*
!src/test/helpers/*.js
!src/test/helpers/*.ts
logs
*.log
config/default.ts
config/production.ts
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
.idea
application/configs/app.js
